body {
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
